<div class="footer">
    <div class="container-fluid">
        <div class="row" id="bottomNav" style="padding-top: 5px">
            <div class="col-xs-3 text-center"><a class="footerAnchor" href="maps.html"><i class="fa fa-home fa-1x" style="color: white;"></i><br/><span class="footerspan">Home</span></a></div>
            <div class="col-xs-3 text-center"><a class="footerAnchor" href="#"><i class="fa fa-star fa-1x" style="color: white;"></i><br><span class="footerspan">Favourites</span></a></div>
            <div class="col-xs-3 text-center"><a class="footerAnchor" href="#"><i class="fa fa-search fa-1x" style="color: white;"></i><br><span class="footerspan">Search</span></a></div>
            <div class="col-xs-3 text-center"><a class="footerAnchor" href="logout.html"><i class="fa fa-sign-out fa-1x" style="color: white;"></i><br><span class="footerspan">LogOut</span></a></div>
        </div>
    </div>
</div>