<div id="sidebar-wrapper" style="display:block; background-color: #303030">
    <nav id="spy">
        <div id="Profile" style="background-color: #212121">
            <table class="profile1" style="background-color: #212121">
                <tr>
                    <td style="background-color:#212121"><img id="dp" src="" /></td>
                    <td style="background-color:#212121">
                        <table class="profile2" style="color:white">
                            <tr><td style="background-color:#212121" id="Name"></td></tr>
                            <tr><td style="background-color:#212121" id="Email"></td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <ul class="sidebar-nav nav" >
            <li>
                <a href="maps.html"><i class="fa fa-home fa-1x white solo"> </i> Home</a>

            </li>
            <li>
                <a href="ListofAccounts.html">
                    <i class="fa fa-book fa-1x white solo"></i> Accounts
                </a>
            </li>
            <li>
                <a href="ListofAccountsManger.html">
                    <i class="fa fa-user fa-1x white solo"></i> Account Manager
                </a>
            </li>
            <li>
                <a href="ListofDMs.html">
                    <i class="fa fa-users fa-1x white solo"></i> Delivery Managers
                </a>
            </li>
            <li>
                <a href="logout.html">
                    <i class="fa fa-power-off fa-1x white solo"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
</div>
<!--<script>
    $(document).ready(function () {
        $("#user_role").value = window.localStoragegetItem("role");
        $("#user_email").value = window.localStoragegetItem("email");
    });
</script>-->
