body {
    margin: 0;
    padding: 0;
    cursor: pointer;
}
#Loading > img {
 width:30px;
 height:30px;
 margin-right:25px;
 margin-top:8px;
}
#Loading {
 position:absolute;
 right:30px;
}

.white, .white a {
    color: #fff;
}

.navbar-left {
    float: left;
    margin-left: 15px;
    padding: 6px 10px;
}

.btn-siteBlue {
    background: rgb(24,98,173);
}

#footer {
    bottom: 0;
    padding-top: 0;
    position: fixed;
    height: 90px;
}

#menu-toggle {
    text-decoration: none;
    float: right;
    color: #FFF;
    padding-right: 0px;
    padding-top: 12px;
}

#menu-toggle2 {
    text-decoration: none;
    float: right;
    color: white;
    padding-right: 15px;
    padding-top: 12px;
}

#menu-title {
    font-family: Verdana;
    text-decoration: none;
    font-size: 14px;
    display: -webkit-inline-box;
    color: #FFF;
    font-weight: bolder;
    margin-top: 14px;
    text-align: center;
}

#menu-logo {
    margin-top: 4px;
    text-decoration: none;
    /*float: right;*/
}

#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -250px;
    top: 0;
    right: 0px;
    width: 250px;
    background: rgb(24,98,173);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 10000;
    transition: all 0.4s ease 0s;
}

#wrapper.active {
    padding-left: 0;
}

    #wrapper.active #sidebar-wrapper {
        left: 0;
    }

#page-content-wrapper {
    width: 100%;
    /*padding-top: 30px;*/
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 100px;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .sidebar-nav li {
        line-height: 24px;
        text-indent: 5px;
    }

        .sidebar-nav li a {
            color: #FFF;
            display: block;
            text-decoration: none;
            padding-left: 0px;
        }

            .sidebar-nav li a span:before {
                position: absolute;
                left: 0;
                color: #41484c;
                /*text-align: center;*/
                width: 20px;
                line-height: 18px;
            }

            .sidebar-nav li a:hover,
            .sidebar-nav li.active {
                color: #fff;
                background: #424242;
                text-decoration: none;
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                color: #fff;
                background: #424242;
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #000;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

/*IWIN STARTS HERE*/

#jumbo {
    position: absolute;
    top: -1%;
    height: 101%;
    width: 100%;
    background-color: gray;
    right: 250px;
    z-index: 10000;
    opacity: 0;
    display: none;
}

#Profile {
    display: block;
    height: 100px;
    background-color: skyblue;
    position: absolute;
    width: 250px;
}

#dp {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.profile1 {
    margin-top: 25px;
    margin-left: 20px;
}

.profile2 td {
    padding-left: 10px;
}

.table th {
    text-align: left;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: white;
    border-style: solid none;
    border-width: 1px 0;
}

.table {
    box-shadow: 1px 1px 20px #212121;
}

/*Background and table colors*/

#header {
    background-color: #212121;
    position: fixed;
    height: 50px;
    display: block;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 1002;
}

body {
    background-color: #303030;
}

.footer {
    background-color: #303030;
}

table thead tr th {
    background-color: #212121;
    color: white;
}

table tbody tr td {
    background-color: #424242;
    color: white;
}

h4 {
    color: white;
}

.footerspan {
    font-size: .75em;
    position: relative;
    top: -6px;
}

.footerAnchor:hover{
    text-decoration: none;
    color: white;
}

.metro-tile {
    box-shadow: 1px 1px 20px #212121;
    background-color: #424242;
    border: none;
}

.metro-tile:hover{
    box-shadow: 1px 1px 20px #212121;
    background-color: #424242;
    border: 3px solid white;
}

/*IWIN ENDS HERE*/


@media (max-width:600px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        right: -250px;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

        #wrapper.active #sidebar-wrapper {
            left: 250px;
            width: 250px;
            transition: all 0.4s ease 0s;
        }

    #menu-toggle {
        display: inline-block;
        float: right;
        position: relative;
        left: 0%;
    }
    #footer > img {
     width:100%;
     height:100%;
    }
}
@media (max-width:1200px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        right: -250px;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

        #wrapper.active #sidebar-wrapper {
            left: 250px;
            width: 250px;
            transition: all 0.4s ease 0s;
        }

    #menu-toggle {
        display: inline-block;
        float: right;
        position: relative;
        left: 0%;
    }
    #footer > img {
           width:800px;
    }
}
.error {
    color:red;
    text-align:center;
}


/* top code for wrapper and dashboard*/
