<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../scripts/winstore-jscompat.js"></script>
    <script src="../scripts/jquery-1.11.1.min.js"></script>
    <script src="../scripts/customcheckbox.js"></script>
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/controllers/app.js"></script>
    <script src="../scripts/controllers/listofaccountsmanagercontroller.js"></script>
    <link href="../css/site.css" rel="stylesheet" />
    <link href="../css/checkboxmaps.css" rel="stylesheet" />

    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../css/custom.css" rel="stylesheet" />
</head>
<body ng-app="myapp" ng-controller="listofaccountsmanagerCntrl" class="basiccolor2" style="color:white">
    <div id="wrapper">
        <!-- header -->
        <div id="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <a id="backpagediv" height="28" width="28" style="padding-top:0px; margin-top:10px; color:white;" class="pull-left" ng-click="backtoPage()">
                            <i class="fa fa-mail-reply fa-2x"></i>
                        </a>
                        <a id="menu-toggle" href="#" class="glyphicon btn-menu toggle" style="float:right">
                            <i class="fa fa-bars fa-2x"></i>
                        </a>
                        <div style="padding-left:50px">
                            <img id="menu-logo" src="../images/XView.png" height="36" width="36" />
                            <a id="menu-title">Executive Dashboard</a>
                            <div style="float:right">
                                <div id="Loading" style="display:none;"><img src="../images/image_961403.gif" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div id="jumbo">
        </div>
        <div ng-include="'side-bar.html'"></div>

        <!-- Page content -->
        <div class="container" style="margin-top: 70px; margin-bottom: 100px">

            <div class="row">
                <div class="col-md-12">
                    <div id="accountsdiv">
                        Account Managers
                    </div>

                    <a href="javascript:void(0);" style="color:#fff;text-decoration: none !important; float:right" onclick="clearcheckboxes(), forwardbutton()" ng-click="clearall()"> Clear All</a>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="repeatedlistaccountnames">
                        <label class="checkboxselectalllabel"><input type="checkbox" name="Accountname" id="checkAll" onchange="forwardbutton()"ng-click="selectallfunc()" /> Select All</label>
                        <table>
                            <tbody>
                                <tr ng-repeat="x in managers" class="checkboxlabel">
                                    <td class="basiccolor2"><i class="fa fa-user fa-1x" id="{{xxx}}" style="margin-left:10px"></i></td>
                                    <td class="basiccolor2" style="width:100%;position:relative; z-index: 0">
                                        <label class="label-for-check">
                                            <input type="checkbox" name="Accountname" id="{{x}}" value="{{x}}"
                                                   ng-checked="selection.indexOf(x) > -1"
                                                   ng-click="toggleSelection(x)" onchange="Checkboxstatechange(this), forwardbutton(), changecolorbox();" ;/> {{x}}
                                        </label>
                                        <script>changecolor()</script>
                                    </td>
                                    <td class="basiccolor2"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 nopadding">
                    <div style="bottom:45px; right:0; position:fixed; width: 100%; text-align: center;">
                        <button class="btn btn-md" style="background-color: #dddddd;width: 100%; z-index: 100; opacity: 1" ng-click="accountmanagerlistnames()" disabled>
                            <i class="fa fa-angle-double-right fa-2x" style="color:white;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div ng-include="'footer.html'"></div>
    </div>
</body>
</html>