<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>

    <script src="../scripts/jquery-1.11.1.min.js"></script>
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/controllers/app.js"></script>
    <script src="../scripts/controllers/logoutctrl.js"></script>
    <script> </script>
    <style>
        div {
            color:white;
            align-content:center;
            font-size:25px;
        
        }
    </style>
</head>
<body ng-app="myapp" ng-controller="logoutctrl">
<div class="basiccolor2">Logging you out...</div>
</body>
</html>