<div class="footer" >
    <div class="container" style="background-color:transparent;">
        <div class="row" id="bottomNav" style="background-color:transparent;">
            <div class="col-xs-12 col-md-12 text-center" style="background-color:transparent;"><div class="dropup" style="background-color:transparent;">
    <button class="btn btn-primary dropdown-toggle btn-location" type="button" data-toggle="dropdown" style="width:110%;height:2%;margin-left:-5%" >
        Locations
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" style="width:110%; margin-left: -5%;" >
        <li ng-repeat="x in locations"><a href="#" ng-click="mapToNext(x.city)">{{x.city}}</a></li>      
    </ul>
</div></div>
            <!--<div class="col-xs-6 text-center"><div class="dropup">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Favorites
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
    </ul>
</div></div>-->
            <!--<div class="col-xs-3 text-center"><a class="footerAnchor" href="../master.html"><i class="fa fa-sign-out fa-1x" style="color: white;"></i><br><span class="footerspan">LogOut</span></a></div>-->
        </div>
    </div>
</div>